<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.oss.infrastructure.persistence.mapper.OssUsagePolicyMapper">
    <sql id="fields">
        `usage`, default_visibility, max_bytes, allowed_mime_types, requires_checksum, requires_scan,
        versioning_enabled, download_ttl_seconds, upload_ttl_seconds, public_cache_control,
        private_cache_control, retention_days, delete_grace_days
    </sql>
    <insert id="upsert" parameterType="com.nowcoder.community.oss.infrastructure.persistence.dataobject.OssUsagePolicyDataObject">
        insert into oss_usage_policy (<include refid="fields"/>)
        values (#{usage}, #{defaultVisibility}, #{maxBytes}, #{allowedMimeTypes}, #{requiresChecksum},
        #{requiresScan}, #{versioningEnabled}, #{downloadTtlSeconds}, #{uploadTtlSeconds},
        #{publicCacheControl}, #{privateCacheControl}, #{retentionDays}, #{deleteGraceDays})
        on duplicate key update
        default_visibility = values(default_visibility),
        max_bytes = values(max_bytes),
        allowed_mime_types = values(allowed_mime_types),
        requires_checksum = values(requires_checksum),
        requires_scan = values(requires_scan),
        versioning_enabled = values(versioning_enabled),
        download_ttl_seconds = values(download_ttl_seconds),
        upload_ttl_seconds = values(upload_ttl_seconds),
        public_cache_control = values(public_cache_control),
        private_cache_control = values(private_cache_control),
        retention_days = values(retention_days),
        delete_grace_days = values(delete_grace_days)
    </insert>
    <select id="selectByUsage" resultType="com.nowcoder.community.oss.infrastructure.persistence.dataobject.OssUsagePolicyDataObject">
        select <include refid="fields"/>
        from oss_usage_policy
        where `usage` = #{usage}
    </select>
</mapper>
