<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.notice.infrastructure.persistence.mapper.NoticeMapper">

    <insert id="insertNotice" parameterType="com.nowcoder.community.notice.infrastructure.persistence.dataobject.NoticeRecordDataObject">
        insert into notice_record(id, sender_user_id, recipient_user_id, topic, content, status, create_time)
        values(#{id, jdbcType=BINARY}, #{senderUserId, jdbcType=BINARY}, #{recipientUserId, jdbcType=BINARY}, #{topic}, #{content}, #{status}, #{createTime})
    </insert>

    <select id="selectNotices" resultType="com.nowcoder.community.notice.infrastructure.persistence.dataobject.NoticeRecordDataObject">
        select id,
               sender_user_id as senderUserId,
               recipient_user_id as recipientUserId,
               topic,
               content,
               status,
               create_time as createTime
        from notice_record
        where status != 2
          and recipient_user_id = #{userId}
          and topic = #{topic}
        order by create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectNoticeCount" resultType="int">
        select count(id) from notice_record
        where status != 2
          and recipient_user_id = #{userId}
          and topic = #{topic}
    </select>

    <select id="selectNoticeUnreadCount" resultType="int">
        select count(id) from notice_record
        where status = 0
          and recipient_user_id = #{userId}
          <if test="topic!=null">
              and topic = #{topic}
          </if>
    </select>

    <update id="updateNoticesStatusForRecipient">
        update notice_record set status = #{status}
        where recipient_user_id = #{userId}
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id, jdbcType=BINARY}
        </foreach>
    </update>

</mapper>
