<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nowcoder.community.growth.mapper.RewardGrantRecordMapper">

    <insert id="insert">
        insert into reward_grant_record(id, grant_id, user_id, grant_type, source_event_id, source_event_type, growth_delta, reward_delta, status)
        values(#{id, jdbcType=BINARY}, #{grantId}, #{userId, jdbcType=BINARY}, #{grantType}, #{sourceEventId}, #{sourceEventType}, #{growthDelta}, #{rewardDelta}, #{status})
    </insert>

</mapper>
