<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nowcoder.community.user.mapper.UserScoreLogMapper">

    <insert id="insert">
        insert into user_score_log(id, user_id, event_id, event_type, delta)
        values(#{id, jdbcType=BINARY}, #{userId, jdbcType=BINARY}, #{eventId}, #{eventType}, #{delta})
    </insert>

</mapper>
