<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nowcoder.community.growth.mapper.UserLevelRuleConfigMapper">

    <resultMap id="UserLevelRuleConfigResultMap" type="com.nowcoder.community.growth.entity.UserLevelRuleConfig">
        <id property="id" column="id" jdbcType="BINARY" typeHandler="com.nowcoder.community.infra.persistence.mybatis.UuidBinaryTypeHandler"/>
        <result property="windowDays" column="window_days"/>
        <result property="lv2SignInDays" column="lv2_sign_in_days"/>
        <result property="lv3SignInDays" column="lv3_sign_in_days"/>
        <result property="enabled" column="enabled"/>
        <result property="updatedBy" column="updated_by" jdbcType="BINARY" typeHandler="com.nowcoder.community.infra.persistence.mybatis.UuidBinaryTypeHandler"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectCurrent" resultMap="UserLevelRuleConfigResultMap">
        select id, window_days, lv2_sign_in_days, lv3_sign_in_days, enabled, updated_by, update_time
        from user_level_rule_config
        where config_key = 'DEFAULT'
        limit 1
    </select>

    <update id="updateCurrent">
        update user_level_rule_config
        set window_days = #{windowDays},
            lv2_sign_in_days = #{lv2SignInDays},
            lv3_sign_in_days = #{lv3SignInDays},
            enabled = #{enabled},
            updated_by = #{updatedBy, jdbcType=BINARY, typeHandler=com.nowcoder.community.infra.persistence.mybatis.UuidBinaryTypeHandler},
            update_time = current_timestamp
        where config_key = 'DEFAULT'
    </update>

    <insert id="insert">
        insert into user_level_rule_config(
            id,
            config_key,
            window_days,
            lv2_sign_in_days,
            lv3_sign_in_days,
            enabled,
            updated_by,
            update_time
        ) values (
            #{id, jdbcType=BINARY, typeHandler=com.nowcoder.community.infra.persistence.mybatis.UuidBinaryTypeHandler},
            'DEFAULT',
            #{windowDays},
            #{lv2SignInDays},
            #{lv3SignInDays},
            #{enabled},
            #{updatedBy, jdbcType=BINARY, typeHandler=com.nowcoder.community.infra.persistence.mybatis.UuidBinaryTypeHandler},
            current_timestamp
        )
    </insert>

</mapper>
