<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nowcoder.community.user.mapper.UserMapper">

    <sql id="insertFields">
        id, username, password, salt, email, type, status, header_url, create_time
    </sql>

    <sql id="selectFields">
        id, username, password, salt, email, type, status, header_url, create_time, score, mute_until, ban_until
    </sql>

    <select id="selectById" resultType="com.nowcoder.community.user.entity.User">
        select
        <include refid="selectFields"></include>
        from user
        where id = #{id, jdbcType=BINARY}
    </select>

    <select id="selectByName" resultType="com.nowcoder.community.user.entity.User">
        select
        <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>

    <select id="selectByEmail" resultType="com.nowcoder.community.user.entity.User">
        select
        <include refid="selectFields"></include>
        from user
        where email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.nowcoder.community.user.entity.User">
        insert into user (<include refid="insertFields"></include>)
        values(#{id, jdbcType=BINARY}, #{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{headerUrl},
        #{createTime})
    </insert>

    <delete id="deletePendingUserIfExpired">
        delete from user
        where id = #{id, jdbcType=BINARY}
          and status = #{status}
          and create_time is not null
          and create_time &lt;= #{cutoff}
    </delete>

    <delete id="deletePendingUser">
        delete from user
        where id = #{id, jdbcType=BINARY}
          and status = #{status}
    </delete>

    <select id="selectExpiredPendingUserIds" resultType="java.util.UUID">
        select id
        from user
        where status = #{status}
          and create_time is not null
          and create_time &lt;= #{cutoff}
        order by create_time asc, id asc
    </select>

    <delete id="deleteExpiredPendingUsers">
        delete from user
        where status = #{status}
          and create_time is not null
          and create_time &lt;= #{cutoff}
    </delete>

    <update id="updateStatus">
        update user set status = #{status} where id = #{id, jdbcType=BINARY}
    </update>

    <update id="updateHeader">
        update user set header_url = #{headerUrl} where id = #{id, jdbcType=BINARY}
    </update>

    <update id="updatePassword">
        update user set password = #{password} where id = #{id, jdbcType=BINARY}
    </update>

    <update id="updateType">
        update user set type = #{type} where id = #{id, jdbcType=BINARY}
    </update>

    <update id="updateModerationUntil">
        update user
        set mute_until = #{muteUntil},
            ban_until = #{banUntil}
        where id = #{id, jdbcType=BINARY}
    </update>

    <update id="addScore">
        update user
        set score = case
            when score + #{delta} &lt; 0 then 0
            else score + #{delta}
        end
        where id = #{id, jdbcType=BINARY}
    </update>

    <select id="selectTopByScore" resultType="com.nowcoder.community.user.entity.User">
        select
        <include refid="selectFields"></include>
        from user
        order by score desc, id asc
        limit #{limit}
    </select>

    <select id="selectModerationUsersAfterId" resultType="com.nowcoder.community.user.entity.User">
        select id, mute_until, ban_until
        from user
        where id &gt; #{afterId, jdbcType=BINARY}
        order by id asc
        limit #{limit}
    </select>

    <select id="selectUserSummariesByIds" resultType="com.nowcoder.community.user.entity.User">
        select id, username, header_url, type
        from user
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id, jdbcType=BINARY}
        </foreach>
    </select>

</mapper>
