<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="unknown-service"/>
    <springProperty scope="context" name="serviceVersion" source="community.logging.service-version" defaultValue="unknown"/>
    <springProperty scope="context" name="logDir" source="community.logging.dir" defaultValue="/var/log/community"/>
    <springProperty scope="context" name="logFileName" source="community.logging.file-name" defaultValue="unknown-service.json.log"/>

    <property name="TEXT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [service.name=${serviceName} service.version=${serviceVersion} trace.id=%X{traceId:-}] %logger - %msg%n%ex"/>

    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${TEXT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"service.name":"${serviceName}","service.version":"${serviceVersion}","trace.id":"%mdc{traceId}","trace_id":"%mdc{trace_id}","span_id":"%mdc{span_id}"}</pattern>
                </pattern>
                <mdc>
                    <includeMdcKeyName>community.category</includeMdcKeyName>
                    <includeMdcKeyName>community.action</includeMdcKeyName>
                    <includeMdcKeyName>community.outcome</includeMdcKeyName>
                </mdc>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message/>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <springProfile name="!json-logs &amp; (default | local | dev | test) &amp; !volume-log-export">
        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT"/>
        </root>
    </springProfile>

    <springProfile name="!json-logs &amp; (default | local | dev | test) &amp; volume-log-export">
        <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
            <file>${logDir}/${logFileName}</file>
            <append>true</append>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>{"service.name":"${serviceName}","service.version":"${serviceVersion}","trace.id":"%mdc{traceId}","trace_id":"%mdc{trace_id}","span_id":"%mdc{span_id}"}</pattern>
                    </pattern>
                    <mdc>
                        <includeMdcKeyName>community.category</includeMdcKeyName>
                        <includeMdcKeyName>community.action</includeMdcKeyName>
                        <includeMdcKeyName>community.outcome</includeMdcKeyName>
                    </mdc>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <message/>
                    <stackTrace>
                        <fieldName>stack_trace</fieldName>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT"/>
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="(json-logs | (!default &amp; !local &amp; !dev &amp; !test)) &amp; !volume-log-export">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="(json-logs | (!default &amp; !local &amp; !dev &amp; !test)) &amp; volume-log-export">
        <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
            <file>${logDir}/${logFileName}</file>
            <append>true</append>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>{"service.name":"${serviceName}","service.version":"${serviceVersion}","trace.id":"%mdc{traceId}","trace_id":"%mdc{trace_id}","span_id":"%mdc{span_id}"}</pattern>
                    </pattern>
                    <mdc>
                        <includeMdcKeyName>community.category</includeMdcKeyName>
                        <includeMdcKeyName>community.action</includeMdcKeyName>
                        <includeMdcKeyName>community.outcome</includeMdcKeyName>
                    </mdc>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <message/>
                    <stackTrace>
                        <fieldName>stack_trace</fieldName>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>
</configuration>
