SINGLE_WEB_BASE_URL=http://localhost:12881
SINGLE_API_BASE_URL=http://localhost:12880
PW_WORKERS=1
SINGLE_USER_A_USERNAME=aaa
SINGLE_USER_A_PASSWORD=aaa
SINGLE_USER_B_USERNAME=bbb
SINGLE_USER_B_PASSWORD=aaa
SINGLE_ADMIN_USERNAME=admin
SINGLE_ADMIN_PASSWORD=aaa
